

body {
  background-image: 
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("liberty.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;~
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 300;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.footer {
  background-color: black;
  background-image: none;
}

.heading {
  font-family: 'IBM Plex Sans Thai Looped', serif;
}

h1 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  font-family: 'IBM Plex Sans Thai Looped', serif;
}

h6 {
  font-size: 20px;
}

.subtitle {
  color: red;
}

a {
  color: red;   /* unvisited */
}

a:visited {
  color: white;      /* after clicking */
}

a:hover {
  color: red;       /* when mouse is over */
}

a:active {
  color: white;         /* while clicking */
}
