

body {
  background-image: 
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("liberty.jpg");
  background-size: cover; 
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;~
  font-weight: 300;
  max-width: 900px;
  margin: auto;
  max-width: 105ch;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.6;

}

.all {
  border: 1.5px solid white;
  padding: 29px;
}

.footer {
  background-color: black;
  background-image: none;
}

.heading {
  font-family: 'Space Grotesk', serif;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  font-size: 46px;
  font-family: "Space Grotesk", serif;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

.subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
}

h3 {
  font-size: 30px;
  font-family: "Space Grotesk", serif;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}

p, h6 {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}


a:visited {
  color: white;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: white; 
}

p::first-letter {
  float: left;
  font-size: 64px;
  line-height: 1;
  margin-right: 0.1em;
}

.me {
  float: right;
  margin: 0 0 10px 15px;
  max-width: 250px;
}