

body {
    background-image: url(liberty.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
}
.heading {
    font-family: 'IBM Plex Sans Thai Looped', serif;
}

.subtitle {
  color: red;
}

a {
  color: red;   /* unvisited */
}

a:visited {
  color: white;      /* after clicking */
}

a:hover {
  color: red;       /* when mouse is over */
}

a:active {
  color: white;         /* while clicking */
}
